.subscription-section{
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
    overflow-x: auto;
    .subscription-left-part{
        width: 240px;
        flex-shrink: 0;
        margin-bottom: 80px;
        .title{
            color: var(--Primary, #E7DED0);
            /* EN/Bold/18 */
            font-family: Roboto Condensed;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 144.444% */
            margin-bottom: 24px;
        }
        .echart-part{
            width: 240px;
            margin-right: 40px;
            margin-top: 24px;
            #subscription-echart{
                width: 240px;
                height: 240px;
                aspect-ratio: 1; // 设置宽高比
                border-radius: 100%;
                background: #14181C;
                display: flex;
                align-items: center;
                justify-content: center;
                .inner{
                    width: 192px;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    background-color: #14181C;
                    img{
                        margin: 0 auto;
                        margin-top: 42px;
                    }
                    #subscription-echart-text1{
                        color: #E7DED0;
                        text-align: center;
                        font-family: Roboto Condensed;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 700;
                        margin-top: 8px;
                        line-height: 32px; /* 114.286% */
                    }
                    .text2{
                        color: #647582;
                        text-align: center;
                        /* EN/Regular/14 */
                        font-family: Roboto Condensed;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        margin-top: 4px;
                        line-height: 20px; /* 142.857% */
                    }
                }
            }
            .echart-footer{
                width: fit-content;
                margin: 0 auto;
                margin-top: 24px;
            }
            .tip-item{
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 4px;
                // .circle{
                //     width: 8px;
                //     height: 8px;
                //     border-radius: 4px;
                //     margin-right: 8px;
                // }
                svg{
                    margin-right: 8px;
                }
                .issue{
                    color: #647582;
                    /* EN/Regular/14 */
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    margin-right: 8px;
                }
                .value{
                    color: #E7DED0;
                    /* EN/Bold/14 */
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 142.857% */
                }
            }
        }
        .square-box{
            width: 240px;
            max-height: 331px;
            border-radius: 8px;
            // background: #191F24;
            margin-top: 48px;
        }
    }
    .subscription-right-part{
        flex-grow: 1;
        // min-width: 500px;
        max-width: 910px;
        .right-part-one{
            margin-bottom: 40px;
            .title{
                color: #E7DED0;
                /* EN/Bold/18 */
                font-family: Roboto Condensed;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px; /* 144.444% */
                margin-bottom: 24px;
            }
            .dashboards-show{
                display: flex;
                // justify-content: space-between;
                flex-wrap: wrap;
                .dashboard{
                    margin-right: 10px;
                    display: flex;
                    // width: 320px;
                    padding: 24px;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 12px;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    .dashboard-flex-part{
                        width: 128px;
                        .title{
                            color: #647582;
                            /* EN/Regular/12 */
                            font-family: Roboto Condensed;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px; /* 150% */
                            margin-bottom: 0;
                        }
                        .text{
                            color: #E7DED0;
                            /* EN/Bold/14 */
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20px; /* 142.857% */
                            display: flex;
                            align-items: center;
                            img{
                                margin-right: 4px;
                            }
                        }
                    }
                    .dashboard-row{
                        margin-bottom: 12px;
                        display: flex;
                        .title{
                            color: rgba(255, 255, 255, 0.40);
                            /* EN/Regular/14 */
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                            width: 50px;
                            text-align: right;
                            flex-shrink: 0;
                            word-break: break-all;
                            margin-bottom: 0;
                        }
                        .text{
                            margin-left: 16px;
                            color: #E7DED0;
                            /* EN/Regular/14 */
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            margin-bottom: 0;
                            line-height: 20px; /* 142.857% */
                        }
                    }
                    .text-row{
                        color: rgba(255, 255, 255, 0.40);
                        text-align: right;
                        /* EN/Regular/12 */
                        font-family: Roboto Condensed;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 150% */
                        span{
                            margin-left: 8px;
                        }
                    }
                    .button-row{
                        display: flex;
                        justify-content: flex-end;
                    }
                    .button{
                        width: fit-content;
                        color: #062A22;
                        font-family: Roboto Condensed;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        display: flex;
                        height: 40px;
                        padding: 8px 12px;
                        justify-content: center;
                        align-items: center;
                        border-radius: var(--radius-md, 8px);
                        cursor: pointer;
                        margin-top: 16px;
                        background: linear-gradient(180deg, #86EABA 0%, #53B083 100%);
                        box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset;
                    }
                    .button:hover{
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(180deg, #86EABA 0%, #53B083 100%);
                        background-blend-mode: plus-lighter, normal;
                        box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset;
                    }
                    
                }
                .dashboard-two{
                    padding: 24px;
                    border-radius: 8px;
                    max-width: 568px;
                    border: 1px solid #03FF85;
                    background: #062A22;
                    display: block;
                    .change-text{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        .change-left, .change-right{
                            width: 212px;
                            color: #E7DED0;
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                            display: flex;
                            height: 44px;
                            padding: 12px 16px;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: 8px;
                            flex: 1 0 0;
                            border-radius: 8px;
                            border: 1px solid #0D4237;
                            background: rgba(0, 0, 0, 0.40);
                            .flex-span{
                                display: flex;
                                align-items: center;
                                color: #647582;
                                img{
                                    margin-right: 8px;
                                }
                            }
                        }
                        .change-middle{
                            margin: 0 8px;
                        }
                    }
                }
            }
        }
        .right-part-two{
            margin-bottom: 40px;
            .part-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                // margin-bottom: 24px;
                .title-text{
                    color: #E7DED0;
                    /* EN/Bold/18 */
                    font-family: Roboto Condensed;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px; /* 144.444% */
                    margin-bottom: 24px;
                }
                .title-search{
                    width: 320px;
                    border-radius: 8px;
                    border: 1px solid #44515C;
                    padding: 1px 14px;
                    position: relative;
                    /* Shadows/shadow-xs */
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    margin-bottom: 24px;
                    input{
                        width: 92%;
                        background-color: transparent;
                        border: none;
                    }
                    input:focus{
                        --tw-ring-shadow: none;
                    }
                    input[type="search"]::-webkit-search-cancel-button {
                        // color: red;
                        -webkit-appearance: none;
                    }
                    #data-search-clear{
                        position: absolute;
                        right: 20px;
                        top: 10px;
                    }
                }
            }
            table{
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                .header{
                    color: #647582;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                    background: #191F24;
                    /* EN/Regular/14 */
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    th{
                        padding: 12px 16px;
                    }
                }
                .table-footer th{
                    padding: 12px 24px 16px 24px;
                }
                .table-footer{
                    .th-one{
                        color: #647582;
                        /* EN/Regular/14 */
                        font-family: Roboto Condensed;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                        text-align: left;
                        select{
                            margin-left: 8px;
                            background-color: transparent;
                            border-radius: 8px;
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                    .th-two{
                        text-align: right;
                        .pagination{
                            display: inline-block;
                            color: #647582;
                            /* EN/Regular/14 */
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 142.857% */
                        }
                        .foot-btn{
                            display: inline-block;
                            width: fit-content;
                            color: #9BABB7;
                            font-family: Roboto Condensed;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px; /* 142.857% */
                            height: 40px;
                            padding: 8px 12px;
                            gap: 4px;
                            margin: 0 auto;
                            border-radius: 8px;
                            cursor: pointer;
                            margin-left: 12px;
                            background: linear-gradient(0deg, #1F262C 0%, #2A3137 100%);
                            box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
                        }
                        .foot-btn:hover{
                            background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%), linear-gradient(0deg, #1F262C 0%, #2A3137 100%);
                            background-blend-mode: plus-lighter, normal;
                            box-shadow: 0px 2px 4px 0px rgba(16, 24, 40, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
                        }
                    }
                }
            }
            .data-td{
                color: #E7DED0;
                /* EN/Regular/14 */
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                padding: 16px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                img{
                    display: inline-block;
                }
                .imageFront{
                    margin-right: 4px;
                }
                .imageBehind{
                    margin-left: 4px;
                }
            }
            .darkText{
                color: #647582;
            }
        }
        .right-part-three{
            .text1{
                color: #E7DED0;
                /* EN/Bold/18 */
                font-family: Roboto Condensed;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 16px;
                line-height: 26px; /* 144.444% */
            }
            .text2{
                color: #E7DED0;
                /* EN/Regular/14 */
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                margin-bottom: 4px;
            }
            .text3{
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 4px;
                padding: 0 24px;
                .circle{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                }
            }
            .text4{
                margin-top: 24px;
                .title{
                    color: #E7DED0;
                    /* EN/Regular/14 */
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
                .text{
                    color:  #647582;
                    /* EN/Regular/14 */
                    font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    margin-top: 4px;
                    display: flex;
                    align-items: center;
                    padding-left: 8px;
                    .circle{
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background-color: #647582;
                        margin-right: 8px;
                    }
                }
            }
            .text5{
                width: fit-content;
                color: #03FF85;
                /* EN/Bold/14 */
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                display: flex;
                height: 40px;
                padding: 8px 12px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 8px;
                border: 1px solid #03FF85;
                margin-left: 24px;
                /* Shadows/shadow-xs */
                margin-top: 24px;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                img{
                    margin-left: 4px;
                }
            }
            .text6{
                margin-top: 16px;
                padding-left: 24px;
                color: #E7DED0;
                /* EN/Regular/14 */
                font-family: Roboto Condensed;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                .text6-2{
                    color: #03FF85;
                    margin-left: 8px;
                }
            }
        }
    }
}